@import url(src/main/resources/libs/jqplot-1.0.8r1250/META-INF/resources/webjars/jqplot/1.0.8r1250/jquery.jqplot.min.css);

table{
    border-bottom: 5px solid lightgray;
    border-top: 5px solid lightgray;
}

table thead{
    background-color: white;
    border-bottom: 2px solid lightgray;
}
/*table td, table th{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}*/
td, th{
    border-left: 1px dashed lightgray;
    border-right: 1px dashed lightgray;
}
th.col-start, th.col-end, th.col-time{
    overflow: hidden;
    text-overflow: ellipsis;
}
th[colspan="2"].col-end{
    text-align: center;
}
th.col-end{
    text-align: right;
}

td.col-start, td.col-end, td.col-time{
    text-align: right;
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.col-start{
    border-left-style: solid;
    /*border-left-width: ;*/
}
td.col-end{
    border-right-style: solid;
}

.participant-header label{
    font-weight: normal !important;
}
.participant-checkbox{
    /*display: none;*/
}

.track-length{
    font-size: smaller;
}

body{
    margin-bottom: 80px;
}

.modal-xxl{
    width: 100% !important;
    /*margin: auto !important;*/
}
#button-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightyellow;
    height: 50px;
    padding: 5px;
}

.selected-participants{
    padding-left: 5px;
}