@import "bootstrap-fragments";  // full Bootstrap: @import "lib/bootstrap/scss/bootstrap";
@import "icons";
@import "plots";
@import "participant-table.scss";


.track-length{
    font-size: smaller;
}

body{
    margin-bottom: 80px;
}

.modal-xxl{
    width: 100% !important;
    max-width: 82em;
}
#button-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightyellow;
    height: 50px;
    padding: 5px;
    z-index: 200;
}

.selected-participants{
    padding-left: 5px;
}

.legend {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 30px;
    @media screen and (min-width: 900px){
        float: right;
    }
}

#global-stats {
    .btn {
        margin-right: 1ex;
    }
}

.btn-timeline {
    width: 100%;
}

@import "timeline";

@keyframes highlight-background {
    from {
        background-color: yellow;
        color: black;
    }
}

body.with-details {
    .without-details-only {
        display: none;
    }
}
body.without-details {
    .participants-table {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .detailed-only {
        display: none;
    }
}
body.details-switched {
    .detailed-only:not(.dont-highlight), .without-details-only:not(.dont-highlight) {
        animation: 3s linear highlight-background;
    }
}

.with-relative-time .clock-time,
.with-clock-time .relative-time,
.with-pace .speed,
.with-speed .pace,
{
    display: none;
}


@media screen {
    .age{
        display: block;
    }
    .col-time{
        position: relative !important;
        .more-dropdown {
            position: absolute;
            bottom: 3px;
            right: 3px;
            .dropdown-menu{
                width: 300px;
            }
        }
        .more-button-placeholder {
            visibility: hidden;
        }
    }

    .people-list-dropdown {
        .dropdown-menu{
            width: 300px;
        }
    }
}

@import "print";
