@media print {
    #global-stats{
        display: none;
    }
    .category{
        white-space: nowrap;
    }
    .participant-header{
        white-space: nowrap;
        label{
            text-align: left;
        }
    }
    .first{
        // Background color does not work well, maybe due to collision with Bootstrap CSS:
        //background-color: yellow !important;
        //-webkit-print-color-adjust: exact !important;
        //color-adjust: exact !important;
        border: 3px solid red !important;
        .first-badge{
            display: none;
        }
    }
    .more-button, .more-button-placeholder{
        display: none;
    }
    .d-print-none {
        display: none;
    }
}
